{% extends "base.html" %}

{% block content %}

<div class="auth-box">

    <h1>
        Record bearbeiten
    </h1>

    <form method="post" action="/records/{{ record.id }}/edit">

        <label>
            Titel
        </label>

        <input name="title" value="{{ record.title }}" required>

        <label>
            Beschreibung
        </label>

        <textarea name="description" rows="8" required>{{ record.description }}</textarea>

        <button class="btn full">
            Änderungen speichern
        </button>

    </form>

</div>

{% endblock %}