{% extends "base.html" %}

{% block content %}

<div class="auth-box">

    <h1>
        Neues Passwort setzen
    </h1>

    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}

    {% if success %}
    <div class="success">
        {{ success }}
    </div>

    <p>
        <a href="/login">
            Zum Login
        </a>
    </p>
    {% else %}

    <form method="post" action="/reset-password/{{ token }}">

        <label>
            Neues Passwort
        </label>

        <input type="password" name="new_password" required>

        <button class="btn full">
            Passwort speichern
        </button>

    </form>

    {% endif %}

</div>

{% endblock %}